body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map{
  width: 100%;
  height: 400px;
  background: lightgray;
  margin-bottom:  20px;
}

#pac-input{
  width: 300px;
}

.nav-img{
  padding: 0;
}